body {
  text-align: center;
  font-family: Helvetica;
}

#header {
  background-image: url('../images/the-flatiron-building.png');
}

#header a, #footer a {
    font-size: 18px;
    color:white;
}

#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

h1  {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.desc {
  font-size: 14px;
}

.bar {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url('../images/the-flatiron-building.png');
  height: 30px;
}
